.MeetupsDetails{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.MeetupsDetails__empty-list{
    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 738px) {
    .MeetupsDetails{
        justify-content: center;
    }
  }